.app_dark_theme {
    --bg-color: #202023;
    --inverted-bg-color: #323234;
    --primary-color: #81e6d9;
    --secondary-color: #a71f7e;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ffffff;
}
