.app_light_theme {
    --bg-color: #f0e7db;
    --inverted-bg-color: #f6f0e8;
    --primary-color: #319795;
    --secondary-color: #1b6968;
    --inverted-primary-color: #1a202c;
    --inverted-secondary-color: #2f3747;
}
